

p{
	margin-bottom: 0em;
}

body{
	font-family: AT Osmose;
	background-color: #fcfcfe;
}

/* PÁGINA LOGIN ------------------------- */

.container-fluid-login {
	/*     background: #ffffff url("../images/bg-lines.svg"); */
	/*     background-repeat: no-repeat; */
	/*     background-position: center; */
	/*     background-size: cover; */
	    height: 100vh;
	    background: #ffffff;
}

.animacion {
	position: absolute;
	top: 0px;
	left: 0px;
}

.animacion__pink-wave {
	fill: none;
	stroke: #ED6B9B;
	stroke-miterlimit: 10;
}

.animacion__purple-wave {
	fill: none;
	stroke: #6B7BBB;
	stroke-miterlimit: 10;
}

.login-info__texto{
	font-size: 0.9rem;
	letter-spacing: 0.08em;
	color: #4D69F4;
	margin-bottom: 0px;
}

.login-form{
	background: #F2F2F2;
	border-radius: 23px;
}

.login-form__label{
	font-size: 1.6rem;
	color: #000000;
	margin-bottom: 0px;
}

.login-form__input{
	height: 34px;
	background: #C5D0F9;
	border: none;
	border-radius: 11px;
	font-size: 1.6rem;
	color: #000000;
}

.login-form__input:focus{
	outline: none;
}

.login-form__button {
	font-size: 1.6rem;
	text-align: center;
	color: #ffffff;
	background: #13D7BC;
	border: none;
	border-radius: 11px;
}


/* PÁGINA ADMINISTRACION ------------------------- */

.header__logo {
	margin-left: -12px;
}

.header__dropdown{
	color: #4d69f4;
	background: rgba(0,0,0,0);
}

.header__dropdown-item{
	color: #000000;
}

.header__dropdown-item--logout, .header__dropdown-item--logout:hover{
	color: #ff6a9c;
}

.filtro_admin__boton {
	font-size: 1.3rem;
	text-align: left;
	color: #ffffff;
	border: none;
	background: #c5d0f9;
	border-radius: 11px;
	width: 100%;
	padding-left: 1.3rem;
}

.filtro_admin__boton:hover{
	background: #4d69f4;
	color: #ffffff;
}

.filtro_admin__boton--active{
	background: #4d69f4;
}

.container-info {
	background: #ffffff;
	height: 70vh;
	border-radius: 20px;
	box-shadow: 0px 0px 0.3rem rgba(77,105,204,0.3);
}
.tabla-header{
	border-bottom: 2px solid #c5d0f9;
		
}

.tabla-header--item{
	color: #4d69f4;
	font-weight: normal;
	font-size: 1rem;
	padding-top: .75rem !important;
	padding-bottom: .8rem !important;
}

.tabla-body--row{
	color: #000000;
	font-size: 1rem;
	padding:0px;	
	cursor: default;
}

.boton-tabla__accion{
	font-family: AT Osmose;
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	text-align: center;
	color: #ffffff;
	background: #ff6a9c;
	border: none;
	border-radius: 7px;
}

.boton-tabla__accion--success{
	color: #ffffff;
	background: #13d7bc;
}

.boton-tabla__añadir{
	border-radius: 6px;
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
	background: #13D7BC;
	border: none;
	border-radius: 6px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.boton-tabla__añadir:hover{
	background: #14E3C7;
	color: #ffffff;
}

.boton-tabla__cancelar{
	border-radius: 6px;
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
	background: #ff6a9c;
	border: none;
	border-radius: 6px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.boton-tabla__cancelar:hover{
	background: #FF4785;
	color: #ffffff;
}

.label-tabla__text{
	background-color:rgba(0,0,0,0);
    border: 0;
}

.label-tabla__input{
	border-radius:6px;
	color: #000000;
	background-color: #ededed;
	box-sizing: border-box;
	border-style: solid;
	border: 0;
	padding-left: .75rem;
}

.label-tabla__input:focus{
	outline: none;
}

.label-tabla__select{
	border-radius:6px;
	color: #000000;
	background-color: #ededed;
	box-sizing: border-box;
	border-style: solid;
	border: 0;
	padding-left: .75rem;
	height: 24px;
}

.label-tabla__select--text{
	appearance: none;
    background-color:rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: none;
    /* needed for Firefox: */
    overflow:hidden;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f9f9f9;
}

.table>tbody>tr>td {
	vertical-align: middle;
}


/* PÁGINA INDEX ----------------------------- */

.filtros{
	background: #4d69f4;
	border-radius: 17px;
	height: 100%;
}

.filtros__label{
	color: #ffffff;
	font-size: 1rem;
}

.filtros__input{
	font-size: 1rem;
	border-radius: 5px;
	background: #ffffff;
	color: #000000;
	border: none;
	width: 100%;
	padding-left: .55rem;
	margin-bottom: 0.3rem;
	height: 1.4rem;
}

.filtros__input:focus{
	outline: none;
}

.filtros__select{
	font-size: 1rem;
	border-radius: 5px;
	background: #ffffff;
	color: #000000;
	border: none;
	width: 100%;
	padding-left: .55rem;
	margin-bottom: 0.3rem;
	height: 1.4rem;
}

.filtros__boton{
	width: 100%;
	background: #ff6a9c;
	color: #ffffff;
	border-radius: 7px;
	font-size: 1.2rem;
}

.filtros__boton:hover{
	background: #FF4785;
	color: #ffffff;
}

.fila-pestañas{
	vertical-align: middle;
}

.fila-pestañas__pestaña{
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
	border: none;
	background: #c5d0f9;
	border-radius: 11px;
	height: 2.8rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.fila-pestanas__pestana--active{
	background: #4d69f4;
	color: #ffffff;
}

.fila-pestañas__pestaña:hover{
	background: #4d69f4;
	color: #ffffff;
}

.fila-pestañas__fecha--label{
	font-size: 0.9rem;
	margin-right: 0.8rem;
	color: #4d69f4;
}

.fila-pestañas__fecha--input{
	font-size: 0.9rem;
	height: 1.9rem;
	border: none;
	border-radius: 10px;
	background: #f2f2f2;
	color: #000000;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

.extra-info{
	background: #f2f2f2;
	border-radius: 16px;
}

.extra-info__label{
	color: #000000;
	font-size: 1rem;
	padding:0px;	
}

.extra-info__input{
	font-size: 1rem;
	border-radius: 5px;
	background: #ffffff;
	color: #000000;
	border: none;
	margin-left: 1rem;
	padding-left: .40rem;
	margin-bottom: 0.3rem;
	height: 1.4rem;
}

.extra-info__boton{
	font-size: 0.8rem;
	margin-right: -.8rem;
	text-align: right;
	color: #aeaeaf;
	cursor: pointer;
}

.simplebar-scrollbar::before {
  background-color: #c5d0f9;
  width: 0.3rem;
}






